/* public/css/editar_producto.css */

.contenedor-editar {
    max-width: 650px;
    margin: 20px auto;
    border: 2px solid #0052d4;
    padding: 30px;
    background: #f0f7ff;
    border-radius: 10px;
    font-family: Arial, sans-serif;
}

.titulo-editar {
    color: #0052d4;
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.etiqueta-formulario {
    color: #003a94;
    font-weight: bold;
}

.input-formulario, .textarea-formulario {
    width: 100%;
    padding: 12px;
    border: 1px solid #0052d4;
    border-radius: 5px;
    box-sizing: border-box; /* Evita que se desborde el ancho */
}

.textarea-formulario {
    height: 100px;
    resize: vertical;
}

.imagen-actual {
    border: 2px solid #0052d4;
    border-radius: 8px;
    margin-top: 10px;
}

.texto-error-imagen {
    color: #555;
    font-style: italic;
}

.p-boton-guardar {
    text-align: center;
    margin-top: 30px;
}

.boton-guardar {
    background: #0052d4;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    font-size: 1.1em;
    text-transform: uppercase;
}

.boton-guardar:hover {
    background: #003a94;
}

.pie-formulario {
    text-align: center;
    margin-top: 20px;
}

.enlace-volver {
    color: #0052d4;
    text-decoration: none;
    font-weight: bold;
}

.seccion-error {
    text-align: center;
    margin-top: 50px;
}

.mensaje-error {
    color: red;
    font-weight: bold;
}